*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header
{
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 4 vw;
    position: fixed;
    width: 100%;
    
}
a
{
    color:#fcfbf8;
    text-decoration: none;
}
.headerleft
{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.headerleft a img
{
    width: 130px;
    
    margin-left: 60px;
}
nav
{
    display: flex;
    gap: 20px;
    color: #fcfbf8;
}
.headerright 
{
   margin-right: 60px;
   
}
.headerright .login
{
    width: 80px;
    height: 30px;
   
    border-radius: 2px;
    background-color: transparent;
    border-width: .5px;
    border-color: rgb(200, 197, 197);
    border-radius: 6px;
    font-weight: 400px;
    margin: 5px;
    color:white;
    cursor:pointer;
}
.getstarted
{
    width: 100px;
    height: 32px;
    border-width: .5px;
    border-color: white;
  
    font-weight: 400px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    color:black;
    cursor:pointer;
    
}
.headerleft a:hover
{
    opacity: 0.6;
}
nav :hover
{
    opacity: 0.6;;
}
.login:hover
{
    background-color: rgb(70, 68, 68);
}
.getstarted:hover
{
    background-color: rgb(207, 202, 202);
}
.resourceoption
{
    background-color: blue;
   height: 100px;
   
    width: 230px;
    position: absolute;
    border-radius: 10px;
    border: 2px solid;
    /* display: none; */
   background-color: rgb(0, 0, 0);
    top: 8vh;
    display: none;
}
.resourcecontainer
{
    position: relative;
    
}
.resourcecontainer p:hover+.resourceoption
{
    display: flex;
    gap: 8px;
    flex-direction: column  ;
   
}
.resourcecontainer p:hover i
{
    rotate: 180deg;
   
}
.resourcecontainer p i
{
transition: 500ms;
}
main img
{
   width: 100%;
   position: absolute;
   z-index: -999;
   top: 150px;
   scale: 2;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
}
.maincontent
{
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
        text-align: center;
    padding: 0 20px;
    border: 5x solid rgb(117, 100, 4);
}
.new
{
    background-color: rgb(48, 150, 201);
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-right: 3px;
    font-weight: bold;
}
.maincontent h1
{
    font-size: 3rem;
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
}
.maincontent p
{
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.maincontent a
{
    text-decoration: none;
    width: 238px;
    height: 37px;
    justify-content: center;
    align-items: center;
    /* background-color: #5d5b5b; */
    /* border: 4px solid white; */
    padding-top: 10px;
    font-size: 12px;
    border-radius: 16px;
    margin-bottom: 10px;
}
main
{
    position: relative;
    height: 800px;
    overflow: hidden;
    border: 5px solid  green;
}
.maincontent a:hover
{
    background-color: rgb(73, 70, 70);
}
.inputcontainer
{
   
    width: 779px;
    height: 142px;
    padding-left: 0px;
    border-radius: 6px;
  padding-bottom: 70px;
    
    border-color: rgb(0, 0, 0);
   margin-top: 25px;
    font-size: 16px;
    border: 5px solid purple;
    border-radius: 24px;
    background-color: rgb(5, 5, 5);     
}
.inputcontainer input
{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: rgb(5, 5, 5);
    border: 5px solid blue;
}
.left {
    display: flex;
   
   margin-left: 20px;
 margin-top:56px;
}
.left p
{
    font-size: 1.2rem;
    color: white;
    text-align: left;

}
.main
{
    /* border: 5px solid red; */
    display: flex;
    justify-content: space-between;
}
.right 
{
    display: flex;
   gap: 20px;
   margin-top: 56px;
   margin-right: 20px;
}
.right p
{
    font-size: 1.2rem;
    color: white;
    text-align: right;
    font-weight: 100;
}
.images
{
    border: 6px solid red;
    background-color: #181818;
    
}
.images .img1
{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 40px;
    border-radius: 16px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: rgb(5, 5, 5);
    border: 5px solid blue;
    margin-top: 12px;
}
.img1 img
{
    width: 20%;
    height: 200px;
    
    margin-left: 30px;
    
}
.img1 p
{
    color: white;
    margin-left: 25px;
    margin-top: 5px;
}
.para 
{
    /* justify-content:space-around; */
    display: flex;
    border: 5px solid violet;
    
   
}
.images .img2
{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 40px;
    border-radius: 16px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: rgb(5, 5, 5);
    border: 5px solid blue;
    margin-top: 12px;
}
.img2 img
{
    width: 20%;
    height: 200px;
    
    margin-left: 30px;
    
}
.img2 p
{
    color: white;
    margin-left: 25px;
    margin-top: 5px;
    color: white;
}
.para2
{
    /* justify-content:space-around; */
    display: flex;
    border: 5px solid violet;
}
.p2 
{
    font-size: 12px;
    font-weight: 100;
    color: white;
}
.d2
{
    color:white;
    padding: 4px;
    font-weight: 600;
}
.p1
{
    color:white;
}
.discover
{
    margin-top: 64px;
    margin-left: 36px;
}
#i2,#ii2
{
    padding-left: 110px;
}
#i1,#ii1,#j1,#j11
{
    padding-left: 40px;
}
#i3,#ii3
{
    padding-left: 110px;
}
#i4,#ii4
{
    padding-left: 240px;
}
#j2,#j22
{
    padding-left:90px;
}
#j3,#j33
{
    padding-left: 226px;
}
#j4,#j44
{
    padding-left: 140px;
}
#k1,#k11
{
    padding-left: 40px;
}
#k2,#k22
{
    padding-left: 240px;
}
#k3,#k33
{
    padding-left: 110px;
}
#k4,#k44
{
    padding-left: 210px;
}
#l1,#l11
{
    padding-left: 40px;
}
#l2,#l22
{
    padding-left: 220px;
}
#l3,#l33
{
    padding-left: 200px;
}
#l4,#l44
{
    padding-left: 70px;
}